/* @import url("../vendors/bootstrap.min.css"); */

/*=============*/
/* Reset Style */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  text-decoration: none;
  transition: 0.2s all ease-in-out;
  cursor: pointer;
}
a:-webkit-any-link:focus-visible {
  outline: 0px;
}
p {
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
img {
  width: 100%;
}
/*=============*/
/* Body | RTL */
body {
  color: var(--clr-body);
  background: var(--bg-body);
  font-size: 16px;
  font-weight: 400;
}
[dir="rtl"] body{font-family: "Tajawal", sans-serif;}
[dir="ltr"] body{font-family: "Poppins", sans-serif;}
/*=============*/
/* Variables */
:root {
  --bg-body: #ffffff;
  --clr-body: #000000;
  --clr-primary: #051878;
  --clr-secondary: #feb109;
  --clr-warning: #f7a022;
  --clr-success: #09ca5f;
  --clr-gray: #c2c6cd;
  --clr-gray-1: #edeffe;

  --clr-third: #BB62FF;
  --clr-info: #7E71FE;
}
/*=============*/
/* Components */
.qrb-btn{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 40vw;
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}
.qrb-btn.btn-primary{
  background: var(--clr-primary);
  color: #F3C15E;
}
.qrb-btn.btn-primary.text-white{
  color: white;
}
/* .qrb-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 16px 29px;
  border-radius: 40vw;
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
}
.qrb-btn.btn-primary {
  background: var(--clr-primary);
  color: white;
}
.qrb-btn.btn-link {
  padding: 0;
}
.qrb-btn.btn-secondary {
  background: var(--clr-secondary);
  color: var(--clr-primary);
}
.qrb-btn.btn-white {
  min-width: 197px;
  font-size: 24px;
  font-weight: 400;
  line-height: 20px;
  color: #000;
  border: 0;
} */
/*=============*/
/* General */
.qrb-user__icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  isolation: isolate;
}
.qrb-user__icon::before {
  content: '';
  position: absolute;
  width: 82px;
  height: 70px;
  border-radius: 100%;
  z-index: -1;
}
.qrb-user__icon.user-female::before {
  rotate: 45deg;
  top: -3px;
  background: #F3C15E;
  inset-inline-start: -14px;
}
.qrb-user__icon.user-male::before {
  rotate: -45deg;
  top: -9px;
  background: #6295FF;
  inset-inline-end: -20px;
}
.flex-center-wrapper{
  display: flex;
  align-items: center;
  gap: 16px;
}
/*=============*/
/* Header */
header{
  border-bottom: 1px solid #00000033;
}
.qrb-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  padding: 20px 0;
}
.qrb-header .header-logo img{
  width: 117px;
  height: auto;
}
.qrb-header .navbar-nav {gap: 32px;}
.qrb-header .navbar-nav .nav-item .nav-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #051878;
}
.qrb-header .navbar-nav .nav-item .nav-link.active {
  color: black;
}
.qrb-header .header-toolbar {
  display: flex;
  align-items: center;
  gap: 12px;
}
.qrb-header .header-toolbar .qrb-btn.btn-link{
  margin-inline-end: 11px;
  position: relative;
  width: 36px;
  height: 36px;
  background: #3C7BFE;
  color: white;
  font-weight: 600;
}
.qrb-header .header-toolbar .qrb-btn.btn-link::after{
  content: '';
  position: absolute;
  height: 100%;
  width: 1px;
  background-color: #0000000D;
  inset-block: 0;
  margin-block: auto;
  inset-inline-end: -12px;
  pointer-events: none;
  cursor: default;
}
.qrb-header .header-toolbar .qrb-btn.btn-primary{
  padding: 14px 24px;
  font-size: 14px;
  font-weight: 400;
  width: max-content;
}
.qrb-header .header-toolbar .qrb-btn.btn-primary img{
  width: 24px;
  margin-inline-end: 5px;
}
@media screen and (max-width: 1199.98px){
  .qrb-header .navbar-nav {
      gap: 5px;
  }
  
  .qrb-header .navbar-nav .nav-item .nav-link {
      min-width: max-content;
  }
}
@media screen and (max-width: 991.98px){
  .qrb-header .navbar-brand {min-width: max-content;}
  .qrb-header .navbar {
    width: 100%;
    justify-content: flex-end;
  }
}
/*=============*/
/* Hero */

.qrb-hero {
  padding: 70px;
  background: #3C7BFE;
  text-align: center;
  position: relative;
  isolation: isolate;
  overflow: clip;
}
/* .qrb-hero{
  font-display: swap;
  content-visibility: auto;
  will-change: opacity, transform;
} */
.qrb-hero::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 110%;
  background: url('../media/hero-bg.png') no-repeat center;
  top: 0;
  inset-inline-start: 0;
  background-size: cover;
  z-index: -1;
  background-position: top;
}
.qrb-hero .qrb-hero__title {
  font-weight: 700;
  font-size: 59px;
  line-height: 84px;
  text-align: center;
  color: white;
  margin-bottom: 8px;
}
.qrb-hero .qrb-hero__title span {
  font-weight: 700;
  font-size: 59px;
  line-height: 54px;
  text-align: center;
  color: #081776;
  background: #F3C15E;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0px 10px;
  border-radius: 40vw;
}
.qrb-hero .qrb-hero__desc {
  font-weight: 400;
  font-size: 24px;
  line-height: 46px;
  text-align: center;
  color: white;
  margin-bottom: 50px;
}
.qrb-hero__card {
  transition: 0.3s all ease-in-out;
  padding: 30px 50px;
  background: rgba(255,255,255,0.8);
  border-radius: 29px;
  box-shadow: 0px 4px 4px 0px #00000040;
  height: 100%;
}
.qrb-hero__card .card-icon {
  width: 204px;
  margin-inline: auto;
  margin-bottom: 25px;
  position: relative;
  isolation: isolate;
}
.qrb-hero__card .card-icon::before{
  content: '';
  position: absolute;
  width: 104px;
  height: 114px;
  background-color: #6295FF;
  border-radius: 100%;
  z-index: -1;
}
.qrb-hero__card .card-icon::after{
  content: '';
  position: absolute;
  width: 104px;
  height: 94px;
  background-color: #F3C15E;
  border-radius: 100%;
  z-index: -2;
}
.qrb-hero__card .card-icon.session-icon::before{
  rotate: -45deg;
  top: 25px;
  inset-inline-start: 35px;
}
.qrb-hero__card .card-icon.session-icon::after{
  rotate: -45deg;
  bottom: 0px;
  inset-inline-end: 5px;
}
.qrb-hero__card .card-icon.selfhelp-icon{width: 180px;}
.qrb-hero__card .card-icon.selfhelp-icon::before{
  rotate: 135deg;
  bottom: -1px;
  inset-inline-end: 9px;
}
.qrb-hero__card .card-icon.selfhelp-icon::after{
  rotate: 135deg;
  top: 25px;
  inset-inline-start: 0px;
}

.qrb-hero__card .card-icon.programs-icon{width: 227px;}
.qrb-hero__card .card-icon.programs-icon::before{
  top: 25px;
  inset-inline-start: 24px;
  scale: 1.05;
}
.qrb-hero__card .card-icon.programs-icon::after{
  top: 2px;
  inset-inline-end: 25px;
  scale: 1.1;
}

.qrb-hero__card .card-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
  text-align: center;
  margin-bottom: 18px;
  color: #051878;
}
.qrb-hero__card .card-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  color: #051878;
  margin-bottom: 42px;
}
.qrb-hero__card .qrb-btn.card-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  background: #A1BDE580;
  border: 1px solid #A1BDE5;
  padding: 16px 40px;
  color: #090940;
  max-width: 260px;
  text-transform: uppercase;
  width: 100%;
}

.qrb-hero__card:hover{transition: 0.3s all ease-in-out; background-color: white;}
.qrb-hero__card:hover .qrb-btn.card-btn{
  background: #051878;
  border-color: #081776;
  color: #F3C15E;
}
@media screen and (max-width: 1199.98px){
  .qrb-hero__card {
    margin-bottom: 30px;
    height: calc(100% - 30px);
  }
  
}
@media screen and (max-width: 767.98px){
  .qrb-hero .qrb-hero__title{font-size: 39px; line-height: 1.5;}
  .qrb-hero .qrb-hero__title span{font-size: 38px;}
  .qrb-hero .qrb-hero__desc{font-size: 22px;}
}
/*=============*/
/* Team */
.qrb-team__content {
  margin: 60px 0;
  position: relative;
  isolation: isolate;
}
.qrb-team__content h2 {
  font-weight: 700;
  font-size: 59px;
  line-height: 84px;
  text-align: center;
  color: #051878;
  margin-bottom: 24px;
}
.qrb-team__slider {
  position: relative;
  isolation: isolate;
}
.qrb-team__slider > .wrapper{
  overflow: clip;
}
.qrb-slider__items {
  display: flex;
  align-items: flex-start;
  width: 100%;
  gap: 30px;
  padding-inline-start: 2px;
  /* transition: 0.3s all ease-in-out; */
}
.qrb-slider__items .qrb-slider__item {
  width: calc(100% / 3 - 22px);
  text-align: center;
  flex-shrink: 0;
  padding-inline: 25px;
  border-radius: 29px;
  margin-bottom: 30px;
  transition: .2s all ease-in-out;
}
.qrb-slider__items .qrb-slider__item .item-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 43px;
  text-align: center;
  margin-bottom: 7px;
  color: #051878;
}
.qrb-slider__items .qrb-slider__item .item-desc__content {
  min-height: 133px;
}
.qrb-slider__items .qrb-slider__item .item-desc__wrapper {
  padding: 15px 20px;
  border-radius: 19px;
  background: #E3EBFE;
  max-width: 295px;
  margin-inline: auto;
  margin-bottom: 16px;
}
.qrb-slider__items .qrb-slider__item .item-desc__wrapper h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  color: #051878;
}
.qrb-slider__items .qrb-slider__item .item-desc__wrapper p{
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  color: #051878;
}
.qrb-slider__items .qrb-slider__item .item-action .qrb-btn.btn-slider {
  border: 1px solid #051878;
  padding: 15px 20px;
  min-width: 195px;
  color: #081776;
  margin-bottom: 18px;
}
.qrb-slider__items .qrb-slider__item .item-action > p {
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  color: #051878;
  margin-bottom: 13px;
}
.qrb-slider__items .qrb-slider__item .item-img {
  max-width: 256px;
  margin-inline: auto;
  height: 280px;
  position: relative;
  display: flex;
  align-items: flex-end;
  margin-top: 20px;
}
.qrb-slider__items .qrb-slider__item .item-img img {
  object-fit: contain;
  height: auto;
}
.qrb-slider__items .qrb-slider__item .item-img::before {
  content: '';
  position: absolute;
  width: 288px;
  height: 245px;
  rotate: -45deg;
  border-radius: 100%;
  background: #F3C15E;
  z-index: -1;
  top: 20px;
}
[dir='ltr'] .qrb-slider__items .qrb-slider__item .item-img::before {inset-inline-start: -24px;}
.qrb-slider__items .qrb-slider__item .item-img::after {
  content: '';
  width: 268px;
  height: 2px;
  background: #051878;
  position: absolute;
  bottom: 0;
  inset-inline: 0;
  margin-inline: auto;
}
.qrb-slider__items .qrb-slider__item .item-img.img-founder::before{background: #6295FF;}

.qrb-slider__items .qrb-slider__item:hover {box-shadow: 0px 4px 4px 0px #00000040;}
.qrb-slider__items .qrb-slider__item:hover .item-action .qrb-btn.btn-slider {
  background: #051878;
  color: #F3C15E;
}
.qrb-team__slider .qrb-slider__arrow {
  position: absolute;
  width: 100%;
  height: calc(100% - 120px);
  z-index: -1;
}
.qrb-team__slider .qrb-slider__arrow .btn-prev,
.qrb-team__slider .qrb-slider__arrow .btn-next{
  position: absolute;
  inset-block: 0;
  margin-block: auto;
  width: 48px;
  height: 48px;
  border-radius: 100%;
  background: #E3EDFF;
  color: #6295FF;
}
.qrb-team__slider .qrb-slider__arrow .btn-prev:hover,
.qrb-team__slider .qrb-slider__arrow .btn-next:hover{
  background: #051878;
  color: white;
}
.qrb-team__slider .qrb-slider__arrow .btn-prev.disabled,
.qrb-team__slider .qrb-slider__arrow .btn-next.disabled{
  pointer-events: none;
  opacity: 0.5;
}
.qrb-team__slider .qrb-slider__arrow .btn-prev {
  inset-inline-start: -48px;
}
.qrb-team__slider .qrb-slider__arrow .btn-next {
  inset-inline-end: -48px;
}
[dir='rtl'] .qrb-team__slider .qrb-slider__arrow .btn-next svg {transform: scaleX(-1);}
[dir='ltr'] .qrb-team__slider .qrb-slider__arrow .btn-prev svg {transform: scaleX(-1);}
@media screen and ( max-width: 1199.98px){
  .qrb-slider__items .qrb-slider__item {
      width: calc(100% / 2 - 22px);
  }
}
/* @media screen and ( max-width: 767.98px){
} */
@media screen and (max-width: 800.98px){
  .qrb-slider__items .qrb-slider__item {
    width: calc(100% - 22px);
  }
  .qrb-team__slider .qrb-slider__arrow {
      bottom: -30px;
      height: 48px;
      z-index: 1;
  }
  .qrb-team__slider .qrb-slider__arrow .btn-prev{
      margin-inline-start: calc(50% - 30px);
  }
  .qrb-team__slider .qrb-slider__arrow .btn-next{
      margin-inline-end: calc(50%);
  }
}
/*=============*/
/* Programs */
.qrb-programs {
  padding:  47px 0 74px;
  background: #FDF4E4;
}
.qrb-programs__content > h2 {
  font-weight: 700;
  font-size: 59px;
  line-height: 84px;
  text-align: center;
  margin-bottom: 60px;
  color: #051878;
}
.qrb-program {
  padding: 30px;
  padding-top: 0;
  background: white;
  border-radius: 29px;
  box-shadow: 0px 4px 4px 0px #00000040;
  height: calc(100% - 60px);
  text-align: center;
  margin-bottom: 60px;
}
.qrb-program .qrb-user__icon {
  margin-top: -33px;
  margin-bottom: 42px;
}
/* .qrb-program .qrb-user__icon::before {
  content: '';
  position: absolute;
  width: 82px;
  height: 70px;
  border-radius: 100%;
  background: #F3C15E;
  rotate: 45deg;
  z-index: -1;
  top: -3px;
  inset-inline-start: -14px; 
}*/
.qrb-program .qrb-program__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: start;
  color: #051878;
  /* max-width: 50%; */
  max-width: 250px;
  margin-bottom: 13px;
}
.qrb-program .qrb-program__desc {
  text-align: start;
  margin-bottom: 45px;
}
.qrb-program .qrb-program__desc h4 {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #051878;
  margin-bottom: 23px;
  max-width: 95%;
}
.qrb-program .qrb-program__desc ul li {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #051878;
}
.qrb-program .qrb-program__img {
  position: relative;
  isolation: isolate;
  display: inline-flex;
}
.qrb-program .qrb-program__img:before {
  content: '';
  position: absolute;
  width: 143px;
  height: 121px;
  background: #F3C15E2B;
  border-radius: 100%;
  z-index: -1;
  inset-inline-end: 14px;
  top: 13px;
}
.qrb-program .qrb-program__img img {
  width: 192px;
  height: auto;
  object-fit: cover;
}
.qrb-program .qrb-program__doctors {
  display: flex;
  align-items: center;
  gap: 16px;
}
.qrb-program .qrb-program__doctors .doctor-img {
  position: relative;
  isolation: isolate;
}
.qrb-program .qrb-program__doctors .doctor-img:before {
  content: '';
  position: absolute;
  width: 78px;
  height: 66px;
  border-radius: 100%;
  background: #F3C15E;
  z-index: -1;
  rotate: -45deg;
  inset-inline-start: -6px;
}
.qrb-program .qrb-program__doctors .doctor-img::after {
  content: '';
  width: 73px;
  height: 2px;
  background: #051878;
  bottom: -2px;
  position: absolute;
  inset-inline-start: -5px;
}
.qrb-program .qrb-program__doctors .doctor-img img {
  width: auto;
  height: 68px;
}
.qrb-program .qrb-program__doctors .doctor-name p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: start;
  color: #051878;
}
.qrb-program .qrb-program__doctors .doctor-name h3{
  font-weight: 700;
  font-size: 16px;
  line-height: 23px;
  text-align: start;
  color: #051878;
}
.qrb-program .qrb-program__actions .qrb-btn {
  width: 100%;
  padding: 16px;
  background: #C1D4F2;
  color: #081776;
}
.qrb-program:hover .qrb-program__actions .qrb-btn {
  background: #051878;
  color: #F3C15E;
}

.qrb-program.program-second .qrb-user__icon {
  margin-top: -25px;
}
/* .qrb-program.program-second .qrb-user__icon::before {
 
} */
.qrb-program.program-second .qrb-program__img:before{
  background: #6295FF1A;
  inset-inline-end: 14px;
  top: 38px;
}
.qrb-program.program-second .qrb-program__img img {width: 189px;}
.qrb-program.program-second .qrb-program__doctors .doctor-img:before{
  background: #6295FF;
  inset-inline-start: 0;
}
.qrb-program.program-second .qrb-program__doctors .doctor-img::after{
  inset-inline-start: -1px;
}


/*=============*/
/* Footer */
.qrb-footer {
  padding: 70px 0 0;
  background: #051878;
  position: relative;
  isolation: isolate;
}
.qrb-footer::before {
  content: '';
  position: absolute;
  width: 90%;
  height: 1px;
  background: #FFFFFF33;
  bottom: 84px;
  inset-inline: 0;
  margin-inline: auto;
  display: flex;
  z-index: -1;
}
.qrb-footer .qrb-footer__logo {
  width: 131px;
  margin-bottom: 26px;
}
.qrb-footer .qrb-footer__desc {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: white;
}
.qrb-footer .qrb-footer__links h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #D9A328;
  margin-bottom: 16px;
}
.qrb-footer .qrb-footer__links ul.footer-social {
  display: flex;
  align-items: center;
  gap: 16px;
}
.qrb-footer .qrb-footer__links ul li a {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: white;
  gap: 10px;
}
.qrb-footer .qrb-footer__links ul li a:hover {
  color: white;
}
.qrb-footer .qrb-footer__links ul:not(.footer-social) li:not(:last-child) a {
  margin-bottom: 16px;
}
.qrb-footer .qrb-footer__links ul li a > img {
  width: 20px;
}
.qrb-footer .footer-copyrights {
  margin-top: 28px;
  padding: 30px 0;
  text-align: center;
}
.qrb-footer .footer-copyrights p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: white;
}

/*=============*/
/* Pages Title */
.qrb-page-title{
  padding: 80px;
  background: #3C7BFE;
  text-align: center;
  position: relative;
  isolation: isolate;
  overflow: clip;
  min-height: 254px;
}
.qrb-page-title::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 110%;
  background: url('../media/hero-bg.png') no-repeat center;
  top: 0;
  inset-inline-start: 0;
  z-index: -1;
  background-position: top;
  background-size: 60vw;
}
.qrb-page-title .qrb-page-title__title {
  font-weight: 700;
  font-size: 59px;
  line-height: 84px;
  text-align: center;
  color: white;
  margin-bottom: 8px;
}
.qrb-page-title .qrb-page-title__title span {
  font-weight: 700;
  font-size: 59px;
  line-height: 54px;
  text-align: center;
  color: #081776;
  background: #F3C15E;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0px 10px;
  border-radius: 40vw;
}
.qrb-page-title .qrb-page-title__desc {
  font-weight: 400;
  font-size: 24px;
  line-height: 46px;
  text-align: center;
  color: white;
}

/* Programs Page */
.qrb-programs-page .qrb-programs {
  padding-block: 100px 60px;
}
.qrb-programs-page .qrb-program {
  padding-inline: 50px 30px;
  padding-block: 0 44px;
}
.qrb-programs-page .qrb-program.program-second .qrb-program__doctors .doctor-img:before {inset-inline-start: -7px;}

/* Self Help AI Page */
.qrb-selfhelp-page .qrb-page-title__desc {
  max-width: 30vw;
  margin-inline: auto;
}
.qrb-selfhelp-page .qrb-selfhelp {
  padding-block: 40px 100px;
}

.qrb-selfhelp-page .qrb-selfhelp .qrb-selfhelp__content > h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  color: #111727;
}
.qrb-selfhelp-page .qrb-selfhelp .qrb-selfhelp__content > p{
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  text-align: center;
  color: #111727;
  margin-bottom: 60px;
}
.assessments .assessments-title {
  display: flex;
  align-items: center;
  gap: 35px;
  margin-bottom: 50px;
  margin-inline-start: 50px;
}
.assessments .assessments-title h2{
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #051878;
}
.assessments ul li:not(:last-child){
  margin-bottom: 30px;
}
.assessments.assessment-female .assessments-title{margin-bottom: 40px;}
.assessments .assessment-item {
  padding: 30px 60px;
  border-radius: 29px;
  box-shadow: 0px 4px 4px 0px #00000040;
  transition: 0.3s all ease-in-out;
  height: 100%;
}
.assessments.assessment-male ul li:hover .assessment-item{
  background: #E3EDFF;
}
.assessments.assessment-female ul li:hover .assessment-item{
  background: #FDF4E4;
}
.assessments .assessment-item h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #051878;
  margin-bottom: 12px;
  min-height: 56px;
}
.assessments .assessment-item > p{
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #051878;
  margin-bottom: 31px;
}
.assessments .assessment-item .item-actions {
  display: flex;
  align-items: center;
  gap: 16px;
}
.assessments .assessment-item .item-actions > p {
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  color: #051878;
}
.assessments .assessment-item .item-actions .qrb-btn.btn-arrow {
  width: 48px;
  height: 48px;
  border-radius: 100%;
  background: #E3EDFF;
  color: #6295FF;
}
.assessments.assessment-male ul li:hover .assessment-item .item-actions .qrb-btn.btn-arrow {
  background: #051878;
  color: #F3C15E;
}
.assessments.assessment-female ul li:hover .assessment-item .item-actions .qrb-btn.btn-arrow {
  background: #F3C15E;
  color: #051878;
}
/*=============*/
/* General */
/* .text-warning {
  color: var(--clr-warning);
} */
 .py-100{padding-block: 100px;}